* {
        background-color: #1d1d2d;
}
p {
        font-family: monospace;
        white-space: pre;
        line-height: 1.4;
        color: #aff;
        font-size: 130%;
}
.highlight {
        color: #afd;
}

input {
        border-color: #4d4d8d;
        background: #6d6dad;
}

a:visited {
        color: #afd;
}
